
<form action ="/posts/<%= @post.id %>" method= "POST">
<input name="_method" id="hidden" type= "hidden" value="PATCH">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name = "title" value= "<%=@post.title%>">
  </div>

 <div class="form-group">
    <label for="picture">Picture</label>
    <input type="text" class="form-control" id="picture" name = "picture" value= "<%=@post.picture%>">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"><%=@post.description%></textarea>
  </div>

      <button type= "submit" class= "btn btn-lg btn-warning">Edit</button>
</form>