<form action= "/posts" method= "POST"> 

<label for= "title">Title</label>
<input id= "title" type="text" name = "title"> 

<label for= "picture">Picture</label> 
<input id= "picture" type="text" name = "picture"> 

<label for ="description">Description </label>
<textarea id= "description"  name = "description"></textarea>

<button>Create</button>

</form>