
<div class= "mx-auto"><h1> <span id= "following_num"><%=@user.following_relations.size %></span> Following<h1></div>
<% @user.followings.each do |following|%>  
<div style="width:18%;">
   <a href = "/user/<%=following.id%>"><%= following.email %></a> 
   <form class="float-right" action="/follow/<%= following.id%>" method="POST"> 
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <button class="btn btn-sm btn-outline-dark">unfollow</button>
   <form>
   <br> 

</div>
<%end%> 

