<h1>This is the Log In page</h1>
<form method= "POST" action = "/user/login"> 
    <label for= "user_email">Email</label> 
    <input id= "user_email" type="email" name="email">  
    <label for="password">Password </label>
    <input id = "password" type="password" name= "password">

    <button>Log In</button>

</form>