
<form class="form-signin d-block justify-content-center" method= "POST" action = "/user/signup" >
  <div class="text-center mb-4">
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="user_email" class="form-control" placeholder="Email address" autofocus="" name="email" >
    <label for="user_email">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="password" class="form-control" placeholder="password" name="password" >
    <label for="password">Password</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
 
</form>